.info-container {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}
.info {
    background-color: aliceblue;
    padding: 3px;
    border-radius: 2px;
}
.info div span {
    color: grey;
    font-weight: 800;
}
