.input-part{
   display: flex;
   justify-content: center;
}
.left-input-container{
  padding: 1em;
  margin-right: 1em;
}
.right-input-container{
  padding: 1em;
  margin-left: 1em;
}
.input{
  font-size: 1.5rem;
  border : none;
  border-radius: 0.5em;
  outline: none;
  background: aliceblue;
  padding: 0.4em;
}